# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tlog
*.log
*.idb
*.pdb


!SDL2.dll
!SDL2.lib
!box2d.lib
!SDL2main.lib
!SDL2test.lib
!SDL2_image.lib
!SDL2_image.dll
.vs
*.tlog
*.log
XennonClone/Engine/x64/Debug/**
